body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(3, 192, 225);

}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:  1,178px;
    height: 588px;
    top: 608px;
    left: -355px;
    gap: 2px;
    opacity: 0px;
    overflow: hidden;
}

.card-item{
    display: flex;
    justify-content: center;
    width: 293px;
    height: 588px;
    gap: 0px;
    opacity: 0px;
    position: relative;
    background: white;
    overflow: hidden;
    transition: transform .5s ease;

}

.card-item img{
    transition: transform .3s ease, filter .5s;
}

/*  */

.information {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    z-index: 1;
}

.card-item-image{
    width: 397px;
    height: 588px;
    top: -3px;
    left: -52px;
    gap: 0px;
    opacity: 0px;
}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.information-text{
    position: absolute;
    top: 404px;
    width: 213px;
    height: Hug (100px)px;
    gap: 8px;
    opacity: 0px;
    z-index: 3;
}

.information-text .species-names{
    font-family: DIN Condensed;
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
    height: 65px;
    transition: transform 0.5s ease;
}

.information-text .species-place{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.02px;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.7;
    width: 213px;
    height: 16px;
    gap: 0px;
    margin-top: -20px; 
    transition: transform 0.5s ease;
}

.know-more{
    font-family: Poppins;
    font-size: 14px;
    color: rgb(3, 192, 225);
    font-weight: 400;
    margin-top: -39px;
    display: none;
}

@media (max-width: 931px) {
    .information-text {
        display: none;
    }
}